<#include "/admin/plugins/form/modify_form/tabs.html" />
<@tform action='jsp/admin/plugins/form/modifyForm/DoModifyFormPublication.jsp'>
	<@row>
		<@columns>
			<@modifyFormLeftColumn form=form category_list=category_list />
		</@columns>
		<@columns>
			<@box color='solid'>
				<@boxBody>
					<@tabs>
						<@formTabs tab="publication" />
					</@tabs>
					<@tabContent>
						<div class="tab-pane active">
							<input type="hidden" name="date_end_disponibility_save" id="date_end_disponibility_save" value="${form.dateEndDisponibility?if_exists}" />
							<input type="hidden" name="date_begin_disponibility_save" id="date_begin_disponibility_save" value="${form.dateBeginDisponibility?if_exists}" />
							<@formGroup labelFor='publication_mode' labelKey='#i18n{form.createForm.labelPublicationMode}' helpKey='#i18n{form.createForm.labelPublicationModeComment}'>
								<@radioButton name='publication_mode' id='publication_mode_user' value='0' params='onclick="javascript:doChangePublicationMode(this.form.publication_mode);"' checked=!form.dateBeginDisponibility??&&!form.dateEndDisponibility?? labelKey='#i18n{form.createForm.labelPublicationModeUser}' orientation='horizontal' />
								<@radioButton name='publication_mode' id='publication_mode_auto' value='1' params='onclick="javascript:doChangePublicationMode(this.form.publication_mode);"' checked=form.dateBeginDisponibility??||form.dateEndDisponibility?? labelKey='#i18n{form.createForm.labelPublicationModeAuto}' orientation='horizontal' />
							</@formGroup>
							<div class="input-daterange">
							<@formGroup labelFor='date_begin_disponibility' labelKey='#i18n{form.createForm.labelDateBeginDisponibility}' helpKey='#i18n{form.createForm.labelDateBeginDisponibilityComment}'>
								<@inputGroup>
									<@input type='text' name='date_begin_disponibility' id='date_begin_disponibility' value=form.dateBeginDisponibility?if_exists params='onchange="javascript:doChangeDate(this.form.publication_mode);"' />
									<@inputGroupItem type='addon'>
										<@icon style='calendar' />
									</@inputGroupItem>
								</@inputGroup>
							</@formGroup>
							<@formGroup labelFor='date_end_disponibility' labelKey='#i18n{form.createForm.labelDateEndDisponibility}' helpKey='#i18n{form.createForm.labelDateEndDisponibilityComment}'>
								<@inputGroup>
									<@input type='text' name='date_end_disponibility' id='date_end_disponibility' value='${form.dateEndDisponibility?if_exists}' params='onchange="javascript:doChangeDate(this.form.publication_mode);"' />
									<@inputGroupItem type='addon'>
										<@icon style='calendar' />
									</@inputGroupItem>
								</@inputGroup>
							</@formGroup>
							</div>
							<@formGroup>
								<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.createForm.buttonSave}' size='' />
								<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.modifyForm.buttonApply}' size='' />
							</@formGroup>
						</div>
					</@tabContent>
				</@boxBody>
			</@box>
		</@columns>
	</@row>
</@tform>
<script type="text/javascript">
function doChangePublicationMode(radio){
for (var i=0; i<radio.length; i++){
  if (radio[i].checked){
      if (radio[i].value=="0"){
          document.getElementById('date_begin_disponibility').value="";
          document.getElementById('date_end_disponibility').value="";
      } else  {
        document.getElementById('date_begin_disponibility').value=document.getElementById('date_begin_disponibility_save').value;
        document.getElementById('date_end_disponibility').value=document.getElementById('date_end_disponibility_save').value;
      }
    }
		}
}

function doChangeDate(radio){
	document.getElementById('date_begin_disponibility_save').value=document.getElementById('date_begin_disponibility').value;
  document.getElementById('date_end_disponibility_save').value=document.getElementById('date_end_disponibility').value;
  if (document.getElementById('date_begin_disponibility').value!="" || document.getElementById('date_end_disponibility').value!=""){
			radio[0].checked=false;
      radio[1].checked=true;
  } else {
      radio[0].checked=true;
      radio[1].checked=false;
  }
}
</script>
<@getDatePickerRangeBootstrap language=locale />
