<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createField.title} : "${field.parentEntry.title}"' />
			<@boxBody>
        <fieldset>
					<legend class="sr-only">#i18n{form.createField.title} : "${field.parentEntry.title}"</legend>
					<@tform action='jsp/admin/plugins/form/DoCreateField.jsp#list'>
						<@formGroup labelFor='title' labelKey='#i18n{form.createField.labelTitle}' mandatory=true>
							<@input type='text' name='title' id='title' value='' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='value' labelKey='#i18n{form.createField.labelValue}' mandatory=true>
							<@input type='text' name='value' id='value' value='' />
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createField.labelComment}'>
							<@input type='textarea' name='comment' id='comment'></@input>
						</@formGroup>
						<@formGroup>
							<@checkBox name='default_value' value='1' labelKey='#i18n{form.createField.labelDefaultValue}' />
						</@formGroup>
						<#if option_no_display_title>
							<@formGroup>
								<#if field.noDisplayTitle><#assign checked = true /></#if>
								<@checkBox name='no_display_title' value='1' checked=checked labelKey='#i18n{form.createField.labelNoDisplayTitle}' />
							</@formGroup>
						</#if>
						<#if field.parentEntry.roleAssociated && role_list?exists >
							<@formGroup labelFor='role' labelKey='#i18n{form.createField.labelRole}' helpKey='#i18n{form.createFiled.labelRoleComment}'>
								<@select name='role_key' default_value='none' items=role_list />
							</@formGroup>
						</#if>
						<@formGroup>
							<@button type='submit' buttonIcon='save' title='#i18n{form.createForm.buttonSave}' showTitleXs=false size='' />
							<@button type='submit' buttonIcon='close' title='#i18n{form.createForm.buttonCancel}' showTitleXs=false size='' color='btn-secondary' params='onclick="javascript:window.history.back();"' />
						</@formGroup>
					</@tform>
        </fieldset>
			</@boxBody>
		</@box>
	</@columns>
 </@row>