<@row>
  <@columns>
    <@box>
      <@boxHeader title='#i18n{form.createCategory.title}' />
			<@boxBody>
        <@tform action='jsp/admin/plugins/form/DoCreateCategory.jsp'>
					<@formGroup labelFor='title' labelKey='#i18n{form.createCategory.labelTitle}' mandatory=true>
						<@input type='text' name='title' id='title' maxlength=50 />
					</@formGroup>
					<@formGroup labelFor='color' labelKey='#i18n{form.createCategory.labelColor}' mandatory=true>
						<@inputGroup id='color'>
							<@input type='text' name='color' id='color' maxlength=7 value='' />
							<@inputGroupItem type='addon'><i></i></@inputGroupItem>
						</@inputGroup>
					</@formGroup>
					<@formGroup>
						<@button type='submit' buttonIcon='save' size='' title='#i18n{form.createCategory.buttonSave}' />
						<@button type='button' params='onclick="javascript:history.back();return false;"' buttonIcon='remove' size='' title='#i18n{form.createCategory.buttonCancel}' color='btn-secondary' />
					</@formGroup>
        </@tform>
      </@boxBody>
    </@box>
  </@columns>
</@row>
<script src="js/bootstrap-colorpicker.js"></script>
<script>
$(function(){
      $("#color").colorpicker();
    });
</script>
