<@box color='success box-solid'>
	<#assign boxHeaderTitle>
		<a href="jsp/admin/plugins/form/ManageForm.jsp?plugin_name=form" class="dashboard-title" title="#i18n{form.dashboard.formList}">#i18n{form.dashboard.formList}</a>
	</#assign>
	<@boxHeader title=boxHeaderTitle boxTools=true>
		<@button style='btn-box-tool' params='data-widget="collapse"' buttonIcon='minus' />
		<@button style='btn-box-tool' params='data-widget="remove"' buttonIcon='times' />
	</@boxHeader>
   <@boxBody params='style="overflow-x:auto; padding:0;"'>
		<@table>
	    <thead>
				<tr>
					<th></th>
					<th>#i18n{form.dashboard.columnTitleLabel}</th>
					<th class="text-center">#i18n{form.dashboard.nb_answers}</th>
					<th>#i18n{form.dashboard.columnTitleActions}</th>
				</tr>
	    </thead>
	    <tbody>
	    <#list form_list as form>
	    	<tr>
	        <td style="width:10%;">
						<#if form.active>
							<#if form.autoPublished>
								<@tag color='success' title='#i18n{form.manageForm.stateEnabledAutoPublication}'><@icon style='remove' /></@tag>
							<#else>
								<@tag color='success' title='#i18n{portal.util.labelEnabled}'><@icon style='check' /></@tag>
							</#if>
	          <#else>
							<#if form.autoPublished>
								<#if form.autoPublicationActive>
									<@tag color='success' title='#i18n{portal.util.labelEnabled}'><@icon style='check' /></@tag>
								<#else>
									<@tag color='danger' title='#i18n{portal.util.labelDisabled}'><@icon style='remove' /></@tag>
								</#if>
							<#else>
								<@tag color='danger' title='#i18n{portal.util.labelDisabled}'><@icon style='remove' /></@tag>
							</#if>
	        	</#if>
					</td>
					<td style="width:40%">
						<strong>${form.title}</strong>
					</td>
					<td class="text-center" style="width:20%;">
						 ${response_count_map[form.idForm?string]}
					</td>
	        <td>
	          <#if authorized_form_modification_list?seq_contains(form.idForm)>
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form'  title='${form.title}' showTitle=false buttonIcon='pencil' />
	          </#if>
	          <#if form.actions?exists>
							<#list form.actions as action>
								<#if (action.permission=='CHANGE_STATE') || (action.permission=='CHANGE_STATE_AUTO_PUBLICATION') || (action.permission=='VIEW_RESULT') || (action.permission=='DELETE') >
									<#assign autoPublicationMode = (form.dateBeginDisponibility?? || form.dateEndDisponibility??) />
									<#if !((action.permission=='CHANGE_STATE') && autoPublicationMode) && !((action.permission=='CHANGE_STATE_AUTO_PUBLICATION') && (!autoPublicationMode || (!form.active && form.autoPublicationActive)))>
										<#assign btnClass>
											<#if action.permission='DELETE' || action.permission='DELETE_ALL_RECORD' || action.nameKey=='form.action.disable.name'>
												btn-danger
											<#elseif action.nameKey=='form.action.enable.name' || action.permission='VIEW_RESULT'>
												btn-success
											<#else>
												btn-primary
											</#if>
										</#assign>
											<@aButton class=btnClass href='${action.url}?id_form=${form.idForm}&plugin_name=form'  title='${action.description}' showTitle=false buttonIcon=action.iconUrl />
									</#if>
								</#if>
							</#list>
	          </#if>
	        </td>
	      </tr>
	    </#list>
	    </tbody>
	</@table>
	</@boxBody>
	<@boxFooter class='text-center'>
		<#if permission_create>
			<a href="jsp/admin/plugins/form/CreateForm.jsp" title="#i18n{form.dashboard.addForm}">
				#i18n{form.dashboard.addForm}
				<@icon style='plus-circle' />
			</a>
		</#if>
	</@boxFooter>
</@box>