<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.manageOutputProcessor.title}' />
			<@boxBody>
				<div class="row">
				<#assign nIndex=1>
				<#list processor_list as processor>
					<@columns md=6 lg=6 xl=6>
						<@box>
							<@tform action="jsp/admin/plugins/form/DoManageOutputProcessor.jsp" method="post">
								<#assign title>
									<@formGroup rows=2>
									<@checkBox labelFor='is_selected_${nIndex}' labelKey='#i18n{form.manageOutputProcessor.useOutputProcessor}' name='is_selected' id='is_selected_${nIndex}' checked=processor.is_selected />
									</@formGroup>
								</#assign>
								<@boxHeader titleLevel='span' title=title/>
								<@boxBody>
									<input name="id_form" value="${form.idForm}" type="hidden">
									<input type="hidden" name="processor_key" value= "${processor.processor_key}">
									${processor.processor_configuration}
									<@formGroup rows=2>
										<@button type='submit' buttonIcon='save' title='#i18n{form.createForm.buttonSave}' size='' />
									</@formGroup>
								</@boxBody>
							</@tform>
						</@box>
					</@columns>
					<#assign nIndex = nIndex + 1 >
				</#list>
				</div>
			</@boxBody>
		</@box>
	</@columns>
</@row>