<@row>
  <@columns sm=4 md=3 lg=3 xl=3>
    <@box color='primary'>
      <@boxBody>
        <@listTabs type='pills nav-stacked'>
          <li>
						<a href="jsp/admin/plugins/form/ManageAdvancedParameters.jsp"><@icon style='cog' /> #i18n{form.manage_advanced_parameters.pageTitle}</a>
					</li>
					<#if permission_manage_export_format>
          <li class="active">
            <a href="jsp/admin/plugins/form/ManageExportFormat.jsp?plugin_name=form" title="#i18n{form.home.labelExportFormatComment}"><@icon style='download' /> #i18n{form.home.labelExportFormatComment}</a>
          </li>
					</#if>
					<#if permission_manage_default_message>
          <li>
            <a href="jsp/admin/plugins/form/ManageDefaultMessage.jsp?plugin_name=form" title="#i18n{form.home.labelDefaultMessageComment}"><@icon style='comments-o' /> #i18n{form.home.labelDefaultMessageComment}</a>
          </li>
					</#if>
					<#if permission_manage_category>
          <li>
            <a href="jsp/admin/plugins/form/ManageCategory.jsp?plugin_name=form" title="#i18n{form.home.labelCategoryComment}"><@icon style='tags' /> #i18n{form.home.labelCategoryComment}</a>
          </li>
					</#if>
        </@listTabs>
      </@boxBody>
    </@box>
  </@columns>
	<@columns sm=8 md=9 lg=9 xl=9>
    <@box color='primary'>
      <@boxHeader title='#i18n{form.manageExportFormat.title}' boxTools=true>
				<@tform action='jsp/admin/plugins/form/CreateExportFormat.jsp'>
					<@button type='submit' buttonIcon='plus' title='#i18n{form.manageExportFormat.buttonCreate}' size='' showTitleXs=false showTitleSm=false />
				</@tform>
			</@boxHeader>
      <@boxBody>
        <@table>
          <thead>
            <tr>
              <th>#i18n{form.manageExportFormat.rowTitle}</th>
              <th>#i18n{form.manageExportFormat.rowDescription}</th>
              <th>#i18n{form.manageExportFormat.rowExtension}</th>
              <th>#i18n{form.manageExportFormat.rowActions}</th>
            </tr>
          </thead>
          <tbody>
            <#list export_list as export>
              <tr>
                <td>${export.title}</td>
                <td>${export.description}</td>
                <td>${export.extension}</td>
                <td>
									<@aButton href='jsp/admin/plugins/form/ModifyExportFormat.jsp?id_export=${export.idExport}' buttonIcon='edit' />
									<@aButton href='jsp/admin/plugins/form/ConfirmRemoveExportFormat.jsp?id_export=${export.idExport}' title='#i18n{form.manageForm.altDelete}' buttonIcon='trash' showTitle=false color='btn-danger' />
                </td>
              </tr>
            </#list>
          </tbody>
        </@table>
      </@boxBody>
    </@box>
  </@columns>
</@row>
