<@row>
	<@columns>
		<@box color='primary' collapsed=true>
			<@boxHeader title='#i18n{form.manageForm.title}' boxTools=true>
				<#if permission_manage_advanced_parameters>
					<@aButton href='jsp/admin/plugins/form/ManageAdvancedParameters.jsp' buttonIcon='cog' title='#i18n{form.manageForm.button_manage_advanced_parameters}' showTitleXs=false size='' />
				</#if>
				<#if permission_create_form>
					<@aButton href='jsp/admin/plugins/form/CreateForm.jsp' buttonIcon='plus' title='#i18n{form.manageForm.buttonCreate}' showTitleXs=false size='' />
				</#if>
				<@button style='btn-box-tool' params='data-widget="collapse"' buttonIcon='plus' />
			</@boxHeader>
			<@boxBody>
				<@tform action='' method='' name='' id=''>
					<@formGroup labelFor='active' labelKey='#i18n{form.manageForm.labelActive}'>
						<@select name='active' items=active_list default_value='${active_selected}' />
					</@formGroup>
					<@formGroup labelKey='#i18n{form.manageForm.labelWorkGroup}'>
						<@inputGroup>
							<@select name='workgroup' items=user_workgroup_list default_value='${user_workgroup_selected}' />
							<@inputGroupItem>
								<@button type='submit' buttonIcon='filter' title='#i18n{form.manageForm.buttonSearch}' showTitle=false />
							</@inputGroupItem>
						</@inputGroup>
					</@formGroup>
				</@tform>
			</@boxBody>
		</@box>
		<@box color='solid'>
			<@boxBody>
				<@paginationAdmin paginator=paginator combo=1 />
				<div class="clearfix"></div>
				<@table>
					<tr>
						<th class="col-xs-6 col-sm-5 col-md-7">#i18n{form.manageForm.rowTitle}
							<@sort jsp_url="jsp/admin/plugins/form/ManageForm.jsp" attribute="title" />
						</th>
						<th class="col-xs-1 col-sm-1">#i18n{form.manageForm.rowPeriodDisponibility}</th>
						<th class="col-xs-5 col-sm-6 col-md-4">#i18n{form.manageForm.rowActions}</th>
					</tr>
					<#list form_list as form>
						<tr>
							<td class="col-xs-6 col-sm-5 col-md-7">
								<#if form.active>
									<#if form.autoPublished>
										<@icon style='close' title='#i18n{form.manageForm.stateEnabledAutoPublication}' />
									<#else>
										<@tag color='success'><@icon style='check' /></@tag>
									</#if>
									<#else>
										<#if form.autoPublished>
											<#if form.autoPublicationActive>
												<@tag color='success'><@icon style='close' /></@tag>
											<#else>
												<@tag color='danger'><@icon style='close' /></@tag>
											</#if>
											<#else>
												<@tag color='danger'><@icon style='close' /></@tag>
										</#if>
								</#if>
								&nbsp;${form.title}&nbsp;<a href="jsp/site/Portal.jsp?page=form&id_form=${form.idForm}" title="Voir ${form.title}" target="_blank"><i class="fa fa-globe"></i></a>
							</td>
							<td class="col-xs-1 col-sm-1">
								<#setting locale=locale.language>
								<#if form.dateBeginDisponibility?? && form.dateEndDisponibility?? && form.dateBeginDisponibility==form.dateEndDisponibility>
									#i18n{form.manageForm.rowPeriodDisponibilityThe} ${form.dateBeginDisponibility}
								<#elseif form.dateBeginDisponibility?? && form.dateEndDisponibility??>
									#i18n{form.manageForm.rowPeriodDisponibilityFromTo} ${form.dateBeginDisponibility} #i18n{form.manageForm.rowPeriodDisponibilityTo} ${form.dateEndDisponibility}
								<#elseif form.dateBeginDisponibility??>
									#i18n{form.manageForm.rowPeriodDisponibilityFrom} ${form.dateBeginDisponibility}
								<#elseif form.dateEndDisponibility??>
									#i18n{form.manageForm.rowPeriodDisponibilityUntil} ${form.dateEndDisponibility}
								<#else>
									&nbsp;
								</#if>
							</td>
							<td class="col-xs-5 col-sm-6 col-md-4">
								<#if form.actions?exists>
									<#list form.actions as action>
										<#assign autoPublicationMode=( form.dateBeginDisponibility?? || form.dateEndDisponibility??) />
										<#if !((action.permission=='CHANGE_STATE' ) && autoPublicationMode) && !((action.permission=='CHANGE_STATE_AUTO_PUBLICATION' ) && (!autoPublicationMode || (!form.active && form.autoPublicationActive)))>
											<#if action.permission=='DELETE'>
												<#assign color='btn-danger' />
											<#elseif action.nameKey=='form.action.disable.name'>
												<#assign color='btn-danger' />
											<#elseif action.nameKey=='form.action.enable.name'>
												<#assign color='btn-success' />
											<#else>
												<#assign color='btn-primary' />
											</#if>
											<@aButton href='${action.url}?id_form=${form.idForm}&plugin_name=form' title='${action.description}' showTitle=false buttonIcon=action.iconUrl color=color size='sm' />
										</#if>
									</#list>
								</#if>
							</td>
						</tr>
					</#list>
				</@table>
				<@paginationAdmin paginator=paginator />
			</@boxBody>
		</@box>
	</@columns>
</@row>