<#include "/admin/util/editor/editor.html" />
<@row>
  <@columns sm=4 md=3 lg=3 xl=3>
    <@box color='primary'>
      <@boxBody>
        <@listTabs type='pills nav-stacked'>
          <li>
						<a href="jsp/admin/plugins/form/ManageAdvancedParameters.jsp"><@icon style='cog' /> #i18n{form.manage_advanced_parameters.pageTitle}</a>
					</li>
					<#if permission_manage_export_format>
          <li>
            <a href="jsp/admin/plugins/form/ManageExportFormat.jsp?plugin_name=form" title="#i18n{form.home.labelExportFormatComment}"><@icon style='download' /> #i18n{form.home.labelExportFormatComment}</a>
          </li>
					</#if>
					<#if permission_manage_default_message>
          <li class="active">
            <a href="jsp/admin/plugins/form/ManageDefaultMessage.jsp?plugin_name=form" title="#i18n{form.home.labelDefaultMessageComment}"><@icon style='comments-o' /> #i18n{form.home.labelDefaultMessageComment}</a>
          </li>
					</#if>
					<#if permission_manage_category>
          <li>
            <a href="jsp/admin/plugins/form/ManageCategory.jsp?plugin_name=form" title="#i18n{form.home.labelCategoryComment}"><@icon style='tags' /> #i18n{form.home.labelCategoryComment}</a>
          </li>
					</#if>
        </@listTabs>
      </@boxBody>
    </@box>
  </@columns>
	<@columns sm=8 md=9 lg=9 xl=9>
    <@box color='primary'>
			<@boxHeader />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoModifyDefaultMessage.jsp'>
					<@formGroup labelFor='welcome_message' labelKey='#i18n{form.manageDefaultMessage.labelWelcomeMessage}' mandatory=true>
						<@input type='textarea' name='welcome_message' id='welcome_message' rows=5 cols=90 richtext=true>${default_message.welcomeMessage}</@input>
					</@formGroup>
					<@formGroup labelFor='unavailability_message' labelKey='#i18n{form.manageDefaultMessage.labelUnavailabilityMessage}' mandatory=true>
						<@input type='textarea' name='unavailability_message' id='unavailability_message' rows=5 cols=90 richtext=true>${default_message.unavailabilityMessage}</@input>
					</@formGroup>
					<@formGroup labelFor='requirement' labelKey='#i18n{form.manageDefaultMessage.labelRequirementMessage}' mandatory=true>
						<@input type='textarea' name='requirement' id='requirement' rows=5 cols=90 richtext=true>${default_message.requirement}</@input>
					</@formGroup>
					<@formGroup labelFor='recap_message' labelKey='#i18n{form.manageDefaultMessage.labelRecapMessage}' mandatory=true>
						<@input type='textarea' name='recap_message' id='recap_message' rows=5 cols=90 richtext=true>${default_message.recapMessage}</@input>
					</@formGroup>
					<@formGroup labelFor='libelle_validate_button' labelKey='#i18n{form.manageDefaultMessage.labelLibelleValidateButton}' mandatory=true>
						<@input type='text' name='libelle_validate_button' id='libelle_validate_button' value=default_message.libelleValidateButton maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='libelle_reset_button' labelKey='#i18n{form.manageDefaultMessage.labelLibelleResetButton}'>
						<@input type='text' name='libelle_reset_button' id='libelle_reset_button' value=default_message.libelleResetButton maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='back_url' labelKey='#i18n{form.manageDefaultMessage.labelBackUrl}' mandatory=true>
						<@input type='text' name='back_url' id='back_url' value=default_message.backUrl />
					</@formGroup>
					<@formGroup>
						<@button type='submit' buttonIcon='save' title='#i18n{form.createForm.buttonSave}' size='' />
					</@formGroup>
				</@tform>
			</@boxBody>
    </@box>
  </@columns>
</@row>
<@initEditor />
