<@row>
  <@columns sm=4 md=3 lg=3 xl=3>
    <@box color='primary'>
      <@boxBody>
        <@listTabs type='pills nav-stacked'>
          <li>
						<a href="jsp/admin/plugins/form/ManageAdvancedParameters.jsp"><@icon style='cog' /> #i18n{form.manage_advanced_parameters.pageTitle}</a>
					</li>
					<#if permission_manage_export_format>
          <li>
            <a href="jsp/admin/plugins/form/ManageExportFormat.jsp?plugin_name=form" title="#i18n{form.home.labelExportFormatComment}"><@icon style='download' /> #i18n{form.home.labelExportFormatComment}</a>
          </li>
					</#if>
					<#if permission_manage_default_message>
          <li>
            <a href="jsp/admin/plugins/form/ManageDefaultMessage.jsp?plugin_name=form" title="#i18n{form.home.labelDefaultMessageComment}"><@icon style='comments-o' /> #i18n{form.home.labelDefaultMessageComment}</a>
          </li>
					</#if>
					<#if permission_manage_category>
          <li class="active">
            <a href="jsp/admin/plugins/form/ManageCategory.jsp?plugin_name=form" title="#i18n{form.home.labelCategoryComment}"><@icon style='tags' /> #i18n{form.home.labelCategoryComment}</a>
          </li>
					</#if>
        </@listTabs>
      </@boxBody>
    </@box>
  </@columns>
	<@columns sm=8 md=9 lg=9 xl=9>
    <@box color='primary'>
      <@boxHeader title='#i18n{form.manageCategory.title}' boxTools=true>
				<@aButton href='jsp/admin/plugins/form/CreateCategory.jsp' buttonIcon='plus' title='#i18n{form.manageCategory.buttonCreate}' size='' showTitleXs=false showTitleSm=false />
			</@boxHeader>
      <@boxBody>
        <@table>
          <thead>
            <tr>
              <th>#i18n{form.manageCategory.rowTitle}</th>
              <th>#i18n{form.manageCategory.rowActions}</th>
            </tr>
          </thead>
          <tbody>
          <#list category_list as category>
            <tr>
              <td>
								<@tag color='' params='style="background-color:${category.color};"'><@icon style='tag' /></@tag>&nbsp;
                <strong>${category.title}</strong>
              </td>
              <td>
								<@aButton href='jsp/admin/plugins/form/ModifyCategory.jsp?id_category=${category.idCategory}' title='#i18n{form.manageCategory.altModify}' showTitle=false buttonIcon='pencil' />
								<@aButton href='jsp/admin/plugins/form/ConfirmRemoveCategory.jsp?id_category=${category.idCategory}' title='#i18n{form.manageCategory.altDelete}' showTitle=false buttonIcon='trash' color='btn-danger' />
              </td>
            </tr>
          </#list>
          </tbody>
        </@table>
      </@boxBody>
    </@box>
  </@columns>
</@row>
