 <#include "/admin/util/editor/editor.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyRecap.title} : "${recap.form.title}"' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoModifyRecap.jsp'>
					<input name="id_recap" value="${recap.idRecap}" type="hidden">
					<@formGroup labelFor='back_url' labelKey='#i18n{form.modifyRecap.labelBackUrl}' mandatory=true>
						<@input type='text' name='back_url' id='back_url' value=recap.backUrl />
					</@formGroup>
					<@formGroup labelFor='recap_message' labelKey='#i18n{form.modifyRecap.labelRecapMessage}' mandatory=true>
						<@input type='textarea' name='recap_message' id='recap_message' rows=5 richtext=true>${recap.recapMessage}</@input>
					</@formGroup>
					<@formGroup labelFor='recap_data' labelKey='#i18n{form.modifyRecap.labelRecapData}' helpKey='#i18n{form.modifyRecap.labelRecapDataComment}'>
						<@checkBox name='recap_data' id='recap_data' value='1' checked=recap.recapData />
					</@formGroup>
					<@formGroup labelFor='graph' labelKey='#i18n{form.modifyRecap.labelGraph}' helpKey='#i18n{form.modifyRecap.labelGraphComment}'>
						<@checkBox name='graph' id='graph' value='1' checked=recap.graph />
					</@formGroup>
					<fieldset id="graph-properties">
						<@formGroup labelFor='id_graph_type' labelKey='#i18n{form.modifyRecap.labelGraphType}'>
							<#if recap.graphType?exists>
								<#assign default_value = recap.graphType.idGraphType?string />
							<#else>
								<#assign default_value = "-1" />
							</#if>
							<@select name='id_graph_type' id='id_graph_type' items=graph_type_list default_value=default_value />
						</@formGroup>
						<@formGroup labelKey='#i18n{form.modifyRecap.labelGraphStyle}'>
							<@radioButton name='graph_three_dimension' id='graph_three_dimension_2d' labelFor='graph_three_dimension_2d' labelKey='#i18n{form.modifyRecap.selectGraphStyle2d}' orientation='horizontal' value='0' checked=true />
							<@radioButton name='graph_three_dimension' id='graph_three_dimension_3d' labelFor='graph_three_dimension_3d' labelKey='#i18n{form.modifyRecap.selectGraphStyle3d}' orientation='horizontal' value='1' checked=recap.graphThreeDimension />
						</@formGroup>
						<@formGroup labelFor='graph_label_value' labelKey='#i18n{form.modifyRecap.labelGraphLabel}'>
							<@checkBox name='graph_label_value' id='graph_label_value' value='1' checked=recap.graphLabelValue />
						</@formGroup>
					</fieldset>
					<@formGroup>
						<@button type='submit' buttonIcon='save' title='#i18n{form.modifyRecap.buttonSave}' size='' />
						<@aButton href='jsp/admin/plugins/form/ManageForm.jsp' title='#i18n{form.modifyMessage.buttonCancel}' buttonIcon='remove' title='#i18n{form.modifyRecap.buttonCancel}' size='' color='btn-secondary' />
					</@formGroup>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row> 
<@initEditor />
<script>
$(document).ready( function(){
	
	console.log( $("#graph").prop("checked") );
	
	if( $("#graph").prop("checked") == false ){
		$("#graph-properties").toggle( );
	}
	
	/* Get list or box plugin's presentation */
    $("#graph").click( function(){
        $("#graph-properties").toggle( );
    });
});
</script>