<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyField.title} : "${field.parentEntry.title}"' />
			<@boxBody>
				<@tform class='form-horizontal' action='jsp/admin/plugins/form/DoModifyField.jsp#list'>
					<fieldset>
					<legend class="sr-only">#i18n{form.modifyField.title} : '${field.parentEntry.title}'</legend>
					<input name="id_field" value="${field.idField}" type="hidden" />
					<@formGroup labelFor='title' labelKey='#i18n{form.createField.labelTitle}' mandatory=true>
						<@input type='text' name='title' id='title' value='${field.title}'  maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='value' labelKey='#i18n{form.createField.labelValue}' mandatory=true>
						<@input type='text' name='value' id='value' inputSize=80 value='${field.value}' />
					</@formGroup>
					<@formGroup labelFor='comment' labelKey='#i18n{form.createField.labelComment}'>
						<@input type='textarea' name='comment' id='comment'>${field.comment!}</@input>
					</@formGroup>
					<@formGroup labelFor='default_value' labelKey='#i18n{form.createField.labelDefaultValue}'>
						<#if field.defaultValue><#assign default_checked = true /></#if>
						<@checkBox labelFor='default_value' name='default_value' value='1' checked=default_checked />
					</@formGroup>
					<@formGroup labelFor='no_display_title' labelKey='#i18n{form.createField.labelNoDisplayTitle}'>
						<#if field.noDisplayTitle><#assign notitle_checked = true /></#if>
						<@checkBox labelFor='no_display_title' name='no_display_title' value='1' checked=notitle_checked />
					</@formGroup>
					<@formGroup>
						<@button type='submit' name='save' buttonIcon='check' title='#i18n{form.createForm.buttonSave}' showTitleXs=false size='' />
						<@button type='submit' name='apply'  buttonIcon='check-circle' title='#i18n{form.modifyForm.buttonApply}' showTitleXs=false size='' />
						<@button type='button' name='cancel' params='onclick="javascript:window.history.back();"' buttonIcon='close' title='#i18n{form.createForm.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
					</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
		
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyField.manageConditionalQuestion.title}' boxTools=true>
				
			<@tform class='form-inline' action='jsp/admin/plugins/form/CreateEntry.jsp'>
				<fieldset> 
					<legend class="sr-only">#i18n{form.modifyField.manageConditionalQuestion.title}</legend>
					<input name="id_field" value="${field.idField}" type="hidden">
					<@formGroup labelFor='id_type' labelKey='#i18n{form.modifyForm.manageEnter.labelInsertEntry}' formStyle='inline'>
						<@inputGroup>
							<@select name='id_type' items=entry_type_list default_value='-1' size='sm' />
							<@inputGroupItem>
								<@button type='submit' buttonIcon='plus' title='#i18n{form.modifyForm.manageEnter.buttonInsertEntry}' showTitle=false />
							</@inputGroupItem>
						</@inputGroup>
					</@formGroup>
				</fieldset>
			</@tform>
		</@boxHeader>
		<@boxBody>
			<a name="list" id="list"></a>
			<@table>
				<thead>
					<tr> 
						<th>#i18n{form.modifyForm.manageEnter.rowTitle}</th>
						<th>#i18n{form.modifyForm.manageEnter.rowType}</th>
	          <th>#i18n{form.modifyForm.manageEnter.rowConditionalQuestion}</th>
						<th>#i18n{form.modifyForm.manageEnter.rowActions}</th>
					</tr>
				</thead>
	      <tbody>
		      <#assign cpt=0>
					<#list entry_list as entry>
			      <#assign cpt=cpt+1>
			      <tr>
							<td>${entry.title!}</td>
							<td>${entry.entryType.title}</td>
							<td><#if entry.numberConditionalQuestion!=0>${entry.numberConditionalQuestion}</#if></td>
							<td>
								<@aButton href='jsp/admin/plugins/form/ModifyEntry.jsp?id_entry=${entry.idEntry}' title='null' showTitle=false buttonIcon='edit' />
				        <#if cpt!=1>
									<@aButton href='jsp/admin/plugins/form/DoMoveUpEntryConditional.jsp?id_entry=${entry.idEntry}&idField=${field.idField}' title='#i18n{form.modifyForm.manageEnter.titleMoveUp}' showTitle=false buttonIcon='chevron-up' />
								</#if>	
				        <#if entry_has_next>
									<@aButton href='jsp/admin/plugins/form/DoMoveDownEntryConditional.jsp?id_entry=${entry.idEntry}&idField=${field.idField}' title='#i18n{form.modifyForm.manageEnter.titleMoveDown}' showTitle=false buttonIcon='chevron-down' />
								</#if>
								<@aButton href='jsp/admin/plugins/form/ConfirmRemoveEntry.jsp?id_entry=${entry.idEntry}&idField=${field.idField}' title='#i18n{form.modifyForm.manageEnter.titleDelete}' showTitle=false buttonIcon='trash' color='btn-danger' />
							</td>
				    </tr>
					</#list>
				</tbody>			
      </@table>
		</@boxBody>
		</@box>
	</@columns>
</@row>