<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyField.title} : "${field.parentEntry.title}"' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoModifyField.jsp#list'>
					<fieldset>
            <legend class="sr-only">#i18n{form.modifyField.title} : '${field.parentEntry.title}'</legend>
            <input name="id_field" value="${field.idField}" type="hidden" />
						<@formGroup labelFor='title' labelKey='#i18n{form.createField.labelTitle}' mandatory=true>
							<@input type='text' name='title' id='title' inputSize=80 value='${field.title}' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='value' labelKey='#i18n{form.createField.labelValue}' mandatory=true>
							<@input type='text' name='value' id='value' inputSize=80 value='${field.value}' />
						</@formGroup>
						<@formGroup labelFor='default_value' labelKey='#i18n{form.createField.labelDefaultValue}'>
              <#if field.defaultValue>
								<#assign checked = true />
							<#else>
								<#assign checked = false />
              </#if>
							<@checkBox name='default_value' value='1' checked=checked />
						</@formGroup>
            <#if field.parentEntry.roleAssociated && role_list?exists >
						<@formGroup labelFor='role_key' labelKey='#i18n{form.createField.labelRole}' helpKey='#i18n{form.createFiled.labelRoleComment}'>
							<#if field.roleKey?exists>
								<#assign default_value = field.roleKey />
							<#else>
								<#assign default_value = 'none' />
							</#if>
							<@select name='role_key' default_value=default_value items=role_list />
						</@formGroup>
						</#if>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.createForm.buttonSave}' showTitleXs=false size='' />
							<@button type='button' name='cancel' buttonIcon='close' title='#i18n{form.createForm.buttonCancel}' showTitleXs=false size='' color='btn-secondary' params='onclick="javascript:window.history.back();"' />
						</@formGroup>
        </fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
