 <#include "/admin/plugins/form/commons.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<fieldset>
					<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : '${form.title}'</legend>
					<@tform action='jsp/admin/plugins/form/DoCreateEntry.jsp#list'>
						<input name="id_type" value="${entry.entryType.idType}" type="hidden">
						<#if entry.fieldDepend?exists>
								<input name="id_field" value="${entry.fieldDepend.idField}" type="hidden">
						</#if>
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value='' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=2></@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment' id='comment' rows=2></@input>
						</@formGroup>
						<@formGroup labelFor='maxImageSize' labelKey='#i18n{form.createEntry.labelImageSize}'>
							<@input type='text' name='maxImageSize' id='maxImageSize' value='2097152' />
						</@formGroup>
						<@formGroup labelFor='imageType' labelKey='#i18n{form.createEntry.labelImageType}'>
							<@select name='image_type'>
								<option value="png" selected>png</option> 
								<option value="jpeg" >jpeg</option>
							</@select>
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}'>
							<@checkBox name='mandatory' id='mandatory' value='1' checked=getChecked('mandatory',list_param_default_values) />
						</@formGroup>
						<@formGroup labelFor='errorMessage' labelKey='#i18n{form.createEntry.labelMandatoryErrorMessage}' helpKey='#i18n{form.createEntry.labelMandatoryErrorMessageHelp}'>
							<@input type='textarea' name='errorMessage' id='errorMessage' rows=2></@input>
						</@formGroup>
						<@formGroup labelFor='width' labelKey='#i18n{form.createEntry.labelWidthImage}'>
							<@input type='text' name='width' id='width' value=getName('width_text',list_param_default_values) />
						</@formGroup>
						<@formGroup labelFor='height' labelKey='#i18n{form.createEntry.labelHeightImage}'>
							<@input type='text' name='height' id='height' value=getName('height_text',list_param_default_values) />
						</@formGroup>
						<@formGroup labelFor='unique_field' labelKey='#i18n{form.createEntry.labelUniqueField}'>
							<@checkBox name='unique_field' id='unique_field' value='1' />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.createEntry.buttonApplyAndManageVerification}' showTitleXs=false size='' />
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</@tform>
				</fieldset>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<#include "/admin/util/editor/editor.html" />
<@initEditor />
 