<#include "/admin/plugins/form/commons.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<fieldset>
				<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : '${form.title}'</legend>
				<@tform action='jsp/admin/plugins/form/DoCreateEntry.jsp#list'>
					<input name="id_type" value="${entry.entryType.idType}" type="hidden" />
					<#if entry.fieldDepend?exists>
						<input name="id_field" value="${entry.fieldDepend.idField}" type="hidden" />
					</#if>
					<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
					</@formGroup>
					<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
						<@input type='text' name='title' id='title' value='' maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='num_row' labelKey='#i18n{form.createEntry.labelNumberRows}' mandatory=true>
						<@input type='text' name='num_row' id='num_row' value='' maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='num_column' labelKey='#i18n{form.createEntry.labelNumberColumns}' mandatory=true>
						<@input type='text' name='num_column' id='num_column' value='' maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelArrayTitle}' helpKey='#i18n{form.createEntry.labelArrayTitleHelp}'>
						<@input type='text' name='comment' id='comment' value='' maxlength=255 />
					</@formGroup>
					<@formGroup>
						<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
						<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
					</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
 <#include "/admin/util/editor/editor.html" />
 <@initEditor />
 