 <#include "/admin/plugins/form/commons.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoCreateEntry.jsp#list'>
					<fieldset>
						<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : "${form.title}"</legend>
						<input name="id_type" value="${entry.entryType.idType}" type="hidden">
						<#if entry.fieldDepend?exists>
							<input name="id_field" value="${entry.fieldDepend.idField}" type="hidden">
						</#if>
						
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createField.labelTitle}' mandatory=true>
							<@input type='text' name='title' id='title' inputSize=80 value='' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=2></@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment' id='comment' rows=2></@input>
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelType} : ${entry.entryType.title}'>
							<@checkBox labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}' name='mandatory' id='mandatory' value='1' checked=getChecked('mandatory',list_param_default_values) />
						</@formGroup>
						<@formGroup labelFor='width' labelKey='#i18n{form.createEntry.labelWidth}' mandatory=true>
							<@input type='text' name='width' id='width' value=getName('width',list_param_default_values) />
						</@formGroup>
						<@formGroup labelFor='file_max_size' labelKey='#i18n{form.createEntry.labelFileMaxSize}' mandatory=true>
							<@input type='text' name='file_max_size' id='file_max_size' value=getName('file_max_size',list_param_default_values) />
						</@formGroup>
						<@formGroup labelFor='max_files' labelKey='#i18n{form.createEntry.labelMaxFiles}' mandatory=true>
							<@input type='text' name='max_files' id='max_files' value=getName('max_files',list_param_default_values) maxlength=2 />
						</@formGroup>
						<@formGroup labelFor='export_binary' labelKey='#i18n{form.createEntry.labelExportBinary}'>
							<@checkBox labelFor='export_binary' labelKey='#i18n{form.createEntry.labelExportBinaryComment}' name='export_binary' id='export_binary' value='1' />
							<@tag color='warning'>#i18n{form.createEntry.labelExportBinaryWarning}</@tag>
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.createEntry.buttonApplyAndManageVerification}' showTitleXs=false size='' />
							<@button type='button' name='cancel' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' params='onclick="javascript:window.history.back();"' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
 <#include "/admin/util/editor/editor.html" />
 <@initEditor />
 