<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : "${form.title}" - #i18n{form.createEntry.labelEntryType} : ${entry.entryType.title}' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoCreateEntry.jsp#list'>
					<fieldset>
						<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : "${form.title}" - #i18n{form.createEntry.labelEntryType} : ${entry.entryType.title}</legend>
						<input name="id_type" value="${entry.entryType.idType}" type="hidden">
						<#if entry.fieldDepend?exists>
							<input name="id_field" value="${entry.fieldDepend.idField}" type="hidden">
						</#if>
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value='' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='prefix' labelKey='#i18n{form.createEntry.labelPrefix}' helpKey='#i18n{form.createEntry.labelPrefixComment}'>
							<@input type='text' name='prefix' id='prefix' value='' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.createEntry.buttonApplyAndManageVerification}' showTitleXs=false size='' />
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
