<#include "/admin/plugins/form/commons.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoCreateEntry.jsp#list'>
					<fieldset>
						<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : '${form.title}'</legend>
						<input name="id_type" value="${entry.entryType.idType}" type="hidden">
						<#if entry.fieldDepend?exists>
							<input name="id_field" value="${entry.fieldDepend.idField}" type="hidden">
						</#if>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value='' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=2></@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment' id='comment' rows=2></@input>
						</@formGroup>
						<@formGroup labelFor='date' labelKey='#i18n{form.createEntry.labelValueDefault}'>
							<@inputGroup>
								<@inputGroupItem type='addon'>
									<@icon style='calendar' />
								</@inputGroupItem>
								<@input type='text' name='value' id='date' value='' />
							</@inputGroup>
						</@formGroup>
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}'>
							<@checkBox name='mandatory' value='1' checked=getChecked('mandatory',list_param_default_values) />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.createEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='button' name='cancel' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' params='onclick="javascript:window.history.back();"' />
						</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<#include "/admin/util/editor/editor.html" />
<@initEditor />
<@getDatePickerBootstrap idField="date" language=locale /> 
