 <#include "/admin/plugins/form/commons.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : ${form.title}' />
			<@boxBody>
				<fieldset>
					<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : '${form.title}'</legend>
					<@tform action='jsp/admin/plugins/form/DoCreateEntry.jsp'>
						<input name="id_type" value="${entry.entryType.idType}" type="hidden">
						<#if entry.fieldDepend?exists>
							<input name="id_field" value="${entry.fieldDepend.idField}" type="hidden">
						</#if>
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value='' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message'></@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment'></@input>
						</@formGroup>
						<@formGroup labelFor='field_in_line' labelKey='#i18n{form.createEntry.labelPresentation}'>
							<#assign presentation_type = getName('field_in_line',list_param_default_values)!1>
							<@select id='field_in_line' name='field_in_line'>
								<option value=1 <#if presentation_type = '1' >selected="selected"</#if> >#i18n{form.createEntry.selectPresentationInLine}</option>
								<option value=0 <#if presentation_type = '0' >selected="selected"</#if> >#i18n{form.createEntry.selectPresentationNotInLine}</option>
							</@select>
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}'>
							<@checkBox name='mandatory' id='mandatory' value='1' checked=getChecked('mandatory',list_param_default_values) />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' value='' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.createEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.createEntry.buttonApplyAndManageResponse}' showTitleXs=false size='' />
							<@button type='button' params='onclick="javascript:window.history.back();"' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</@tform>
				</fieldset>
			</@boxBody>
		</@box>
	</@columns>
 </@row>
 <#include "/admin/util/editor/editor.html" />
 <@initEditor />