 <#include "/admin/plugins/form/commons.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoCreateEntry.jsp#list'>
					<input name="id_entry" value="${entry.idEntry}" type="hidden" />
					<input name="id_resource" value="${entry.idResource}" type="hidden">
					<fieldset>
						<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : '${form.title}'</legend>
						<input name="id_type" value="${entry.entryType.idType}" type="hidden">
						<#if entry.fieldDepend?exists>
							<input name="id_field" value="${entry.fieldDepend.idField}" type="hidden">
						</#if>
						
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value='' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=2></@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment' id='comment'></@input>
						</@formGroup>
						<@formGroup labelFor='map_provider' labelKey='#i18n{form.createEntry.mapProvider}'>
							<@select name='map_provider' id='map_provider' items=entryTypeService.mapProvidersRefList default_value='-1' />
						</@formGroup>
						<!-- champs mode d’édition (suggestPOI, ligne, polygone)  -->
						<@formGroup labelFor='edit_mode' labelKey='#i18n{form.createEntry.editMode}'>
							<@select name='edit_mode' items=entryTypeService.editModeRefList default_value='-1' />
						</@formGroup>
						<!-- view number  -->
						<@formGroup labelFor='view_number' labelKey='#i18n{form.createEntry.viewNumber}'>
							<@input type='text' name='view_number' id='view_number' value='' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}'>
							<@checkBox name='mandatory' id='mandatory' value='1' checked=getChecked('mandatory',list_param_default_values) labelKey='#i18n{form.createEntry.labelMandatory}' />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>

<#include "/admin/util/editor/editor.html" />
<@initEditor />
