<#include "/admin/plugins/form/commons.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleComment} : "${form.title}"' />
			<@boxBody>
				<fieldset>
				<legend class="sr-only">#i18n{form.createEntry.titleComment} : '${form.title}'</legend>
				<@tform action='jsp/admin/plugins/form/DoCreateEntry.jsp#list'>
					<input name="id_type" value="${entry.entryType.idType}" type="hidden">
					<#if entry.fieldDepend?exists>
						<input name="id_field" value="${entry.fieldDepend.idField}" type="hidden">
					</#if>
					<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
					</@formGroup>
					<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}' mandatory=true>
						<@input type='textarea' name='comment' id='comment' rows=5 richtext=true></@input>
					</@formGroup>
					<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
						<@input type='text' name='css_class' id='css_class' value='' maxlength=255 />
					</@formGroup>
					<@formGroup>
						<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.createEntry.buttonSave}' showTitleXs=false size='' />
						<@button type='button' name='cancel' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' params='onclick="javascript:window.history.back();"' />
					</@formGroup>
				</@tform>
				</fieldset>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<#include "/admin/util/editor/editor.html" />
<@initEditor />

 