 <#include "/admin/util/editor/editor.html" />
 <#include "/admin/plugins/form/commons.html" />

<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyEntry.titleGroup} : "${form.title}"' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoModifyEntry.jsp#list'>
					<fieldset>
						<input name="id_entry" value="${entry.idEntry}" type="hidden" />
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' mandatory=true>
							<@input type='text' name='title' id='title' value='${entry.title}' maxlength=255 />
						</@formGroup>
						<#assign iterationAddingLabel = getFieldValue(entry,"iteration_adding_label")>
						<#assign nbIteration = getFieldValue(entry,"nb_iterations")>
						<#assign nbIteration_minimum = getFieldValue(entry,"nb_iterations_minimum")>
						<#assign isIterable = (nbIteration?has_content && nbIteration?number != -1)>
						<#if isIterable>
							<#assign checked = true />
							<#assign style = '' />
						<#else>
							<#assign checked = false />
							<#assign style = 'style="display:none;"' />
						</#if>
						<@formGroup labelFor='is_iterable' labelKey='#i18n{form.createEntry.labelIteration}'>
							<@checkBox id='checkbox_is_iterable' name='is_iterable' value='true' checked=checked params='onclick="javascript:displayHideIteration();"' />
						</@formGroup>
						<div id="iterationNumber" class="form-group" ${style}>
							<label class="col-xs-12 col-sm-3 control-label" for="nb_iterations">
								#i18n{form.createEntry.labelNbIteration}
								<i class="fa fa-asterisk" aria-hidden="true"></i>
							</label>
							<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
								<@input type='text' name='nb_iterations' value='${nbIteration}' maxlength=5 />
								<span id="nb_iterations_help" class="help-block">
									#i18n{form.createEntry.labelHelpNbIteration}
								</span>
							</div>
						</div>
						<div id="iterationNumberMinimum" class="form-group" ${style}>
							<label class="col-xs-12 col-sm-3 control-label" for="nb_iterations_minimum">
								#i18n{form.createEntry.labelNbMinimumIteration}
								<i class="fa fa-asterisk" aria-hidden="true"></i>
							</label>
							<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
								<@input type='text' name='nb_iterations_minimum' value='${nbIteration_minimum}' maxlength=5 />
								<span id="nb_iterations_help" class="help-block">
									#i18n{form.createEntry.labelHelpNbMinimumIteration}
								</span>
							</div>
						</div>
						<@formGroup id='iterationAddingLabel' labelFor='iteration_adding_label' labelKey='#i18n{form.createEntry.labelIterationAddingLabel}' helpKey='#i18n{form.createEntry.labelHelpIterationAddingLabel}' params=style >
							<@input type='text' name='iteration_adding_label' value='${iterationAddingLabel}' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}' >
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false color='btn-primary' size='' />
							<@button type='button' buttonIcon='close' title='#i18n{form.modifyEntry.buttonCancel}' showTitleXs=false color='btn-default' params='onclick="javascript:window.history.back();"' size='' />
						</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<@initEditor />
<script type="text/javascript">
	function displayHideIteration( )
	{
		if ( document.getElementById("checkbox_is_iterable").checked )
		{
			document.getElementById("iterationNumber").style.display = "block";
			document.getElementById("iterationAddingLabel").style.display = "block";
			document.getElementById("iterationNumberMinimum").style.display = "block";
		}
		else
		{
			document.getElementById("iterationNumber").style.display = "none";
			document.getElementById("iterationAddingLabel").style.display = "none";
			document.getElementById("iterationNumberMinimum").style.display = "none";
		}
	}
</script>