 <#include "/admin/util/editor/editor.html" />
<@row>
	<@tform action="jsp/admin/plugins/form/DoModifyEntry.jsp#list">
	<@columns md=3 lg=3 xl=3>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<fieldset>
				<legend class="sr-only">#i18n{form.modifyEntry.titleQuestion} : "${form.title}"</legend>
					<input name="id_entry" value="${entry.idEntry}" type="hidden" />
					<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}' rows=2>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
					</@formGroup>
					<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true rows=2>
						<@input type='text' name='title' id='title' value='${entry.title}' maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='num_row' labelKey='#i18n{form.createEntry.labelNumberRows}' mandatory=true rows=2>
						<@input type='text' name='num_row' id='num_row' value='${entry.numberRow}' maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='num_column' labelKey='#i18n{form.createEntry.labelNumberColumns}' mandatory=true rows=2>
						<@input type='text' name='num_column' id='num_column' value='${entry.numberColumn}' maxlength=255 />
					</@formGroup>
					<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelArrayTitle}' helpKey='#i18n{form.createEntry.labelArrayTitleHelp}' rows=2>
						<@input type='text' name='comment' id='comment' value='${entry.comment}' maxlength=255 />
					</@formGroup>
					<@formGroup rows=2>
						<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
						<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.modifyEntry.buttonApply}' showTitleXs=false size='' />
						<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' name='cancel' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
					</@formGroup>
			</@boxBody>
		</@box>
	</@columns>
	<@columns md=9 lg=9 xl=9>
		<@box color='primary'>
			<@boxHeader />
			<@boxBody>
				<@table>
					<#assign x=entry.numberRow>
					<#list 1..x+1 as i>
						<tr>
						<#assign y=entry.numberColumn>
						<#list 1..y+1 as j>
							<td>
							<#assign title="">
							<#list entry.fields as field>
								<#assign value=i+"_"+j>
								<#if field.value == value>
									<#assign title=field.title!>
								</#if>
							</#list>
								<#if j==1 && i!=1>
									<input type="text" id="field_${i}_${j}" name="field_${i}_${j}" class="form-control" value="${title!}"> 
								<#elseif i == 1 && j != 1>
									<input type="text" id="field_${i}_${j}" name="field_${i}_${j}" class="form-control" value="${title!}">
								<#elseif i == 1 && j == 1>
									<b>${entry.comment}</b>
								<#else>
									&nbsp;
								</#if>
							</td>
							</#list>
						</tr>
					</#list>  
				</@table>
					</fieldset>
				</@boxBody>
			</@box>
	</@columns>
</@tform>
</@row>
<@initEditor />
