<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : "${form.title}" - #i18n{form.createEntry.labelEntryType} : ${entry.entryType.title}' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoModifyEntry.jsp#list'>
					<fieldset>
						<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : "${form.title}" - #i18n{form.createEntry.labelEntryType} : ${entry.entryType.title}</legend>
						<input name="id_entry" value="${entry.idEntry}" type="hidden" />
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value=entry.title maxlength=255 />
						</@formGroup>
						<#if entry.fields?? && entry.fields?has_content>
							<#assign prefix = "">
							<#if entry.fields[0].title??>
									<#assign prefix = entry.fields[0].title>
							</#if>
							<@formGroup labelFor='prefix' labelKey='#i18n{form.createEntry.labelPrefix}' helpKey='#i18n{form.createEntry.labelPrefixComment}'>
								<@input type='text' name='prefix' value=prefix maxlength=255 />
							</@formGroup>
						</#if>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.modifyEntry.buttonApply}' showTitleXs=false size='' />
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>