<#include "/admin/util/editor/editor.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<fieldset>
				<legend class="sr-only">#i18n{form.modifyEntry.titleQuestion} : "${form.title}"</legend>
					<@tform action='jsp/admin/plugins/form/DoModifyEntry.jsp#list'>
						<input name="id_entry" value="${entry.idEntry}" type="hidden" />
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value='${entry.title}' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=2>${entry.helpMessage}</@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment' id='comment' rows=5>${entry.comment}</@input>
						</@formGroup>
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='date' labelKey='#i18n{form.createEntry.labelValueDefault}'>
							<#list entry.fields as field>
								<@inputGroup>
									<@inputGroupItem type='addon'><@icon style='calendar' /></@inputGroupItem>
									<@input type='text' name='value' id='date' value='${field.valueTypeDate?if_exists}' />
								</@inputGroup>
							</#list>
						</@formGroup>
						<@formGroup>
							<#if entry.mandatory><#assign checked = true /></#if>
							<@checkBox labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}' name='mandatory' id='mandatory' value='1' checked=checked />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.createEntry.buttonSave}' showTitleXs=false size='' />
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' name='cancel' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</@tform>
				</fieldset>
			</@boxBody>
		</@box>
	</@columns>
</@row>

<@initEditor />
<@getDatePickerBootstrap idField="date" language=locale />