 <#include "/admin/util/editor/editor.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<fieldset>
					<legend class="sr-only">#i18n{form.modifyEntry.titleQuestion} : '${form.title}'</legend>
					<@tform action='jsp/admin/plugins/form/DoModifyEntry.jsp#list'>
						<input name="id_entry" value="${entry.idEntry}" type="hidden" />
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value=entry.title maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=2>${entry.helpMessage}</@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment' id='comment' rows=2>${entry.comment}</@input>
						</@formGroup>
						<@formGroup labelFor='maxImageSize' labelKey='#i18n{form.createEntry.labelImageSize}'>
							<#list entry.fields as field>
								<@input type='text' name='maxImageSize' id='maxImageSize' value=field.maxSizeEnter />
							</#list>
						</@formGroup>
						<@formGroup labelFor='imageType' labelKey='#i18n{form.createEntry.labelImageType}'>
							<#list entry.fields as field>
								<@select name='image_type'>
									<#if field.imageType?? && field.imageType="jpeg" >
										<option value="png" > png </option> 
										<option value="jpeg" selected> jpeg </option>
									<#else>
										<option value="png" selected> png </option> 
										<option value="jpeg" > jpeg </option>
									</#if>
								</@select>
							</#list>
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}'>
							<@checkBox name='mandatory' id='mandatory' value='1' checked=entry.mandatory />
						</@formGroup>
						<@formGroup labelFor='errorMessage' labelKey='#i18n{form.createEntry.labelMandatoryErrorMessage}' helpKey='#i18n{form.createEntry.labelMandatoryErrorMessageHelp}'>
							<@input type='textarea' name='errorMessage' id='errorMessage' rows=2>${entry.errorMessage!}</@input>
						</@formGroup>
						<@formGroup labelFor='width' labelKey='#i18n{form.createEntry.labelWidthImage}'>
							<#list entry.fields as field>
								<@input type='text' name='width' id='width' value=field.width />
								<#assign id_field=field.idField> 
							</#list>
						</@formGroup>
						<@formGroup labelFor='height' labelKey='#i18n{form.createEntry.labelHeightImage}'>
							<#list entry.fields as field>
								<#if field.height!=-1>
									<@input type='text' name='height' id='height' value=field.height />
								<#else>
									<@input type='text' name='height' id='height' value='' />
								</#if>	
							</#list>	
						</@formGroup>
						<@formGroup>
							<@checkBox labelFor='unique_field' labelKey='#i18n{form.createEntry.labelUniqueField}' name='unique_field' id='unique_field' value='1' checked=entry.unique />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.modifyEntry.buttonApply}' showTitleXs=false size='' />
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</@tform>
				</fieldset>
			</@boxBody>
		</@box>
	</@columns>

<#if regular_expression_list?exists>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.manageRegularExpression.title}' />
			<@boxBody>
				<fieldset>
				<legend class="sr-only">#i18n{form.createEntry.manageRegularExpression.title}</legend>
				<@tform action='jsp/admin/plugins/form/DoInsertVerification.jsp#list'>
					<input name="id_field" value="${id_field}" type="hidden" />
					<@formGroup labelFor='id_expression' labelKey='#i18n{form.createEntry.manageRegularExpression.labelInsert}' helpKey='#i18n{form.createEntry.manageRegularExpression.labelInsertComment}'>
						<@inputGroup>
							<@select name='id_expression' id='id_expression' items=regular_expression_list default_value='-1' size='sm' />
							<@inputGroupItem>
								<@button type='submit' title='#i18n{form.createEntry.manageRegularExpression.buttonInsert}' showTitle=false buttonIcon='plus' />
							</@inputGroupItem>
						</@inputGroup>
					</@formGroup>
				</@tform>
				<a name="list" id="list"></a>
				<@table>
					<tr> 
						<th>#i18n{form.createEntry.manageRegularExpression.rowTitle}</th>
						<th>#i18n{form.createEntry.manageRegularExpression.rowInformationMessage}</th>
						<th>#i18n{form.createEntry.manageRegularExpression.rowValidExemple}</th>
						<th>#i18n{form.createEntry.manageField.rowActions}</th>
					</tr>
					<#list list as field>
						<#list field.regularExpressionList as expression>
							<tr>
								<td>${expression.title}</td>
								<td>${expression.informationMessage}</td>
								<td>${expression.validExemple}</td>
								<td>
									<@aButton href='jsp/admin/plugins/form/DoRemoveVerification.jsp?id_expression=${expression.idExpression}&id_field=${id_field}#list' title='#i18n{form.createEntry.manageField.titleDelete}' showTitle=false buttonIcon='trash' color='btn-danger' />
								</td>
							</tr>
						</#list>
					</#list>
				</@table>
			</@boxBody>
		</@box>
	</@columns>
</#if>
</@row>
<@initEditor />