 <#include "/admin/util/editor/editor.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.createEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoModifyEntry.jsp#list'>
					<fieldset>
						<legend class="sr-only">#i18n{form.createEntry.titleQuestion} : "${form.title}"</legend>
						<input name="id_entry" value="${entry.idEntry}" type="hidden" />
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value=entry.title maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=2>${entry.helpMessage}</@input>
						</@formGroup>
						<@formGroup labelFor='mylutece_attribute_name' labelKey='#i18n{form.createEntry.labelMyLuteceUserAttribute}'>
							<#list entry.fields as field>
								<#assign attributeValue=field.value>
							</#list>
							<#if !attributeValue??>
								<#assign attributeValue="">
							</#if>
							<@select items=entryTypeService.getLuteceUserAttributesRefList(locale) name='mylutece_attribute_name' default_value=attributeValue />
						</@formGroup>
						<@formGroup labelFor='display_front_office' labelKey='#i18n{form.createEntry.labelDisplayFrontOffice}'>
							<@checkBox name='display_front_office' id='display_front_office' value='true' checked=entry.confirmField />
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}'>
							<@checkBox name='mandatory' id='mandatory' value='true' checked=entry.mandatory />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='submit' name='apply' buttonIcon='check' title='#i18n{form.createEntry.buttonApplyAndManageVerification}' showTitleXs=false size='' />
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
