 <#include "/admin/util/editor/editor.html" />
<@row>
	<fieldset>
		<legend class="sr-only">#i18n{form.modifyEntry.titleQuestion} : "${form.title}"</legend>
		<@columns md=3 lg=3 xl=3>
			<@box color='primary'>
				<@boxHeader title='#i18n{form.modifyEntry.titleQuestion} : ${form.title}' />
				<@boxBody>
					<@tform action='jsp/admin/plugins/form/DoModifyEntry.jsp#list'>
						<input name="id_entry" value="${entry.idEntry}" type="hidden">
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}' rows=2>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true rows=2>
							<@input type='text' name='title' id='title' value='${entry.title}' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}' rows=2>
							<@input type='textarea' name='help_message' id='help_message' rows=2>${entry.helpMessage}</@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}' rows=2>
							<@input type='textarea' name='comment' id='comment' rows=2>${entry.comment}</@input>
						</@formGroup>
						<@formGroup labelFor='field_in_line' labelKey='#i18n{form.createEntry.labelPresentation}' rows=2>
							<@select id='field_in_line' name='field_in_line'>
								<option value=1 <#if entry.fieldInLine >selected="selected" </#if> >#i18n{form.createEntry.selectPresentationInLine}</option>
								<option value=0 <#if !entry.fieldInLine >selected="selected" </#if>>#i18n{form.createEntry.selectPresentationNotInLine}</option>
							</@select>
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}' helpKey='#i18n{form.createEntry.labelMandatoryCheckBoxHelp}' showLabel=false rows=2>
							<@checkBox name='mandatory' value='1' checked=true labelKey='#i18n{form.createEntry.labelMandatory}' readonly=true disabled=true />
						</@formGroup>
						<@formGroup labelFor='errorMessage' labelKey='#i18n{form.createEntry.labelMandatoryErrorMessage}' helpKey='#i18n{form.createEntry.labelMandatoryErrorMessageHelp}' rows=2>
							<@input type='textarea' name='errorMessage' rows=2>${entry.errorMessage!}</@input>
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}' rows=2>
							<@input type='text' name='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup rows=2>
							<@button type='submit' name='save' title='#i18n{form.modifyEntry.buttonSave}' buttonIcon='save' size='' showTitleXs=false showTitleMd=false />
							<@button type='submit' name='apply' title='#i18n{form.modifyEntry.buttonApply}' value='apply' buttonIcon='check' size='' showTitleXs=false showTitleMd=false />
							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' title='#i18n{form.createEntry.buttonCancel}' buttonIcon='close' size='' showTitleXs=false  showTitleMd=false color='btn-secondary'/>
						</@formGroup>
					</@tform>
				</@boxBody>
			</@box>
		</@columns>
		<@columns md=9 lg=9 xl=9>
			<@box color='primary'>
				<@boxHeader title='#i18n{form.createEntry.manageField.title}' boxTools=true>
					<@tform action='jsp/admin/plugins/form/CreateField.jsp?option_no_display_title=true'>
						<@button type='submit' buttonIcon='plus' title='#i18n{form.createEntry.manageField.buttonInsert}' size='' />
					</@tform>
				</@boxHeader>
				<@boxBody>
					<fieldset>
						<legend class="sr-only">#i18n{form.createEntry.manageField.title}</legend>
						<a name="ANC_LIST" id="ANC_LIST"></a>
						<@table>
							<tr> 
							<th>#i18n{form.createEntry.manageField.rowTitle}</th>
							<th>#i18n{form.createEntry.manageField.rowValue}</th>
							<th><i class="glyphicon glyphicon-question-sign" title="#i18n{form.createEntry.manageField.rowConditionalQuestion}"></i>&nbsp;</th>
							<th>#i18n{form.createEntry.manageField.rowActions}</th>
							</tr>
							<#assign cpt=0>
							 <#list list as field>
							<#assign cpt=cpt+1>
							<tr>
								<td>${field.title}</td>
								<td><#if field.defaultValue><span class="label label-success"><i class="glyphicon glyphicon-ok" title="#i18n{form.createEntry.manageField.rowDefaultValue}"></i></span></#if>&nbsp;${field.value}</td>
								<td>
									<#if field.conditionalQuestions?exists>
										<#list field.conditionalQuestions as entry>
											<#if entry.entryType.comment>
												${entry.comment}
											<#else>
												${entry.title}
											</#if>
											<br>
										</#list>
									</#if>     	
								</td>
								<td>
									<@aButton href='jsp/admin/plugins/form/ModifyFieldWithConditionalQuestion.jsp?id_field=${field.idField}' title='#i18n{portal.util.labelModify}' buttonIcon='edit' showTitle=false />
									<#if cpt!=1>
									<@aButton href='jsp/admin/plugins/form/DoMoveUpField.jsp?id_field=${field.idField}#list' title='#i18n{form.createEntry.manageField.titleMoveUp}' buttonIcon='chevron-up' showTitle=false />
									</#if> 
									<#if field_has_next>
									<@aButton href='jsp/admin/plugins/form/DoMoveDownField.jsp?id_field=${field.idField}#list' title='#i18n{form.createEntry.manageField.titleMoveDown}' buttonIcon='chevron-down' showTitle=false />
									</#if>
									<@aButton href='jsp/admin/plugins/form/ConfirmRemoveField.jsp?id_field=${field.idField}#list' title='#i18n{form.createEntry.manageField.titleDelete}' buttonIcon='trash' showTitle=false color='btn-danger' />
								 </td>
								</tr>
							</#list> 
						</@table>
					</fieldset>
				</@boxBody>
			</@box>
		</@columns>
</@row>
<@initEditor />
