 <#include "/admin/util/editor/editor.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<@tform action='jsp/admin/plugins/form/DoModifyEntry.jsp#list'>
					<fieldset>
						<legend class="sr-only">#i18n{form.modifyEntry.titleQuestion} : '${form.title}'</legend>
						<input name="id_entry" value="${entry.idEntry}" type="hidden">
						
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value='${entry.title}' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=10>${entry.helpMessage}</@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment' id='comment' rows=2>${entry.comment}</@input>
						</@formGroup>
						<@formGroup labelFor='value' labelKey='#i18n{form.createEntry.labelValueDefault}'>
							<@input type='textarea' name='value' id='value' rows=10><#list entry.fields as field>${field.value}</#list></@input>
						</@formGroup>
						<@formGroup>
							<#if entry.mandatory><#assign checked = true /></#if>
							<@checkBox labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}' name='mandatory' id='mandatory' value='1' checked=checked />
						</@formGroup>
						<@formGroup labelFor='width' labelKey='#i18n{form.createEntry.labelWidth}' mandatory=true>
							<#list entry.fields as field>
								<@input type='text' name='width' id='width' value='${field.width}' />
							</#list>
						</@formGroup>
						<@formGroup labelFor='height' labelKey='#i18n{form.createEntry.labelHeight}' mandatory=true>
							<#list entry.fields as field>
								<@input type='text' name='height' id='height' inputSize=5 value='${field.height}' />
							</#list>	
						</@formGroup>
						<@formGroup labelFor='max_size_enter' labelKey='#i18n{form.createEntry.labelMaxSizeEnter}'>
							<#list entry.fields as field>
								<#if field.maxSizeEnter!=-1>
									<#assign value='${field.maxSizeEnter}' />
								<#else>
									<#assign value='' />
								</#if>
								<@input type='text' name='max_size_enter' id='max_size_enter' value=value />
							</#list>
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelUseRichText}' helpKey='#i18n{form.createEntry.labelUseRichTextComment}'>
							<!#-- 	fieldInLine means use rich text -->
							<#if entry.fieldInLine><#assign checked = true /></#if>
							<@checkBox name='useRichText' value='true' checked=checked />
						</@formGroup>
						<@formGroup>
							<@button type='submit' name='save' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />

							<@aButton href='jsp/admin/plugins/form/ModifyForm.jsp?id_form=${form.idForm}&plugin_name=form' buttonIcon='close' title='#i18n{form.createEntry.buttonCancel}' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>		
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>
<@initEditor />
