 <#include "/admin/util/editor/editor.html" />
<@row>
	<@columns>
		<@box color='primary'>
			<@boxHeader title='#i18n{form.modifyEntry.titleQuestion} : "${form.title}"' />
			<@boxBody>
				<fieldset>
					<legend class="sr-only">#i18n{form.modifyEntry.titleQuestion} : '${form.title}'</legend>
					<@tform action='jsp/admin/plugins/form/DoModifyEntry.jsp#list'>
						<input name="id_entry" value="${entry.idEntry}" type="hidden" />
						<input name="id_resource" value="${entry.idResource}" type="hidden">
						
						<@formGroup labelFor='type' labelKey='#i18n{form.createEntry.labelType}'>
							<@input type='text' name='type' id='type' readonly=true disabled=true value='${entry.entryType.title}' />
						</@formGroup>
						<@formGroup labelFor='title' labelKey='#i18n{form.createEntry.labelTitle}' helpKey='#i18n{form.createEntry.labelTitleComment}' mandatory=true>
							<@input type='text' name='title' id='title' value='${entry.title}' maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='help_message' labelKey='#i18n{form.createEntry.labelHelpMessage}' helpKey='#i18n{form.createEntry.labelHelpMessageComment}'>
							<@input type='textarea' name='help_message' id='help_message' rows=2>${entry.helpMessage}</@input>
						</@formGroup>
						<@formGroup labelFor='comment' labelKey='#i18n{form.createEntry.labelComment}'>
							<@input type='textarea' name='comment' id='comment'>${entry.comment}</@input>
						</@formGroup>
						<@formGroup labelFor='map_provider' labelKey='#i18n{form.createEntry.mapProvider}'>
							<#if entry.mapProvider?has_content && entry.mapProvider.key?has_content>
								<#assign default_value=entry.mapProvider.key />
							<#else>
								<#assign default_value='-1' />
							</#if>
							<@select name='map_provider' id='map_provider' items=entryTypeService.mapProvidersRefList default_value=default_value />
						</@formGroup>
						<!-- champs mode d’édition (suggestPOI, ligne, polygone)  -->
						<@formGroup labelFor='edit_mode' labelKey='#i18n{form.createEntry.editMode}'>
							<#assign editModeValue = "">
							<#if entry.fields?? && entry.fields?has_content>
								<#list entry.fields as field>
									<#if field?? && field.title = "editMode">
										<#assign editModeValue = field.value >
										<#break>
									</#if>
								</#list>
							</#if>
							<#if editModeValue?has_content>
								<@select name='edit_mode' items=entryTypeService.editModeRefList default_value=editModeValue />
							<#else>
								<@select name='edit_mode' items=entryTypeService.editModeRefList default_value='-1' />
							</#if>
						</@formGroup>
						<!-- view number  -->
						<@formGroup labelFor='view_number' labelKey='#i18n{form.createEntry.viewNumber}'>
							<#assign viewNumberValue = "">
							<#if entry.fields?? && entry.fields?has_content>
								<#list entry.fields as field>
									<#if field?? && field.title = "viewNumber">
										<#assign viewNumberValue = field.value >
										<#break>
									</#if>
								</#list>
							</#if>
							<@input type='text' name='view_number' id='view_number' value=viewNumberValue maxlength=255 />
						</@formGroup>
						<@formGroup labelFor='mandatory' labelKey='#i18n{form.createEntry.labelMandatory}'>
							<@checkBox name='mandatory' id='mandatory' value='1' checked=entry.mandatory labelKey='#i18n{form.createEntry.labelMandatory}' />
						</@formGroup>
						<@formGroup labelFor='css_class' labelKey='#i18n{form.createEntry.labelCSSClass}' helpKey='#i18n{form.createEntry.labelCSSClassComment}'>
							<@input type='text' name='css_class' id='css_class' value='${entry.CSSClass!}' maxlength=255 />
						</@formGroup>
						<@formGroup>
							<@button type='submit' buttonIcon='save' title='#i18n{form.modifyEntry.buttonSave}' showTitleXs=false size='' />
							<@button type='button' buttonIcon='close' title='#i18n{form.modifyEntry.buttonCancel}' params='onclick="javascript:window.history.back();"' showTitleXs=false size='' color='btn-secondary' />
						</@formGroup>
					</fieldset>
				</@tform>
			</@boxBody>
		</@box>
	</@columns>
</@row>

 <@initEditor />